<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Webpdb</title>
		<link rel="stylesheet" href="/static/css/app.css" type="text/css" charset="utf-8">
		<link rel="stylesheet" href="/static/css/prettify.css" type="text/css" media="screen" charset="utf-8">
	</head>
	<body onload="prettyPrint()">
        <div id='buttons'>
            <button	id='btn-continue' class="btn btn-small"><i class="icon-play"></i> Continue</button>
            <button	id='btn-step-over' class="btn btn-small"><i class="icon-share-alt"></i> Step Over</button>
            <button	id='btn-step-into' class="btn btn-small"><i class="icon-arrow-down"></i> Step Into</button>
            <button	id='btn-step-out' class="btn btn-small"><i class="icon-arrow-up"></i> Step Out</button>
            <button	id='btn-stop' class="btn btn-small"><i class="icon-stop"></i> Stop</button>
        </div>
        <div id='stacks'>
            <ul class="nav nav-list">
                <li class="nav-header">STACK</li>
                <li></li>
            </ul>
        </div>
        <div id='source'>
            <!--<pre class="prettyprint linenums language-python">-->
            <pre>
{{source}}
            </pre>
        </div>
        <div id='variables'>
        </div>
        <div id='console'>
        </div>
		<script src="/static/lib/prettify.js"></script>
		<script src="/static/lib/jquery.min.js"></script>
		<script src="/static/lib/bootstrap.min.js"></script>
		<script src="/static/js/app.js"></script>
		<script src="/static/js/models.js"></script>
        <script>
            window.EVENT_EOF = '{{ event_eof }}';
        </script>
	</body>
</html>
