@import "bootstrap.less";

.rounded-corners (@radius: 5px) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}

#buttons {
	margin: 5px;
}

#stacks {
	float: left;
	width: 25%;
	ul {
		.rounded-corners(3px);
		margin: 5px;
		border: 1px solid #ccc;
	}
}

#source {
	float: left;
	width: 75%;
    position: relative;
    .code-highlighter {
        position: absolute;
        width: 100%;
        border: 1px solid #888;
        background-color: rgba(200, 255, 255, 0.2);
        height: 20px;
        left: 0px;
    }
	pre {
		margin: 5px;
	}
}
