<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Webpdb</title>
		<link rel="stylesheet" href="/static/lib/css/prettify.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="/static/lib/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="/static/css/app.css" type="text/css" charset="utf-8">
	</head>
	<body>
        <div class='topbar'>
            <button	id='btn-continue' class="btn btn-small"><i class="icon-play"></i> Continue</button>
            <button	id='btn-step-over' class="btn btn-small"><i class="icon-arrow-right"></i> Step Over</button>
            <button	id='btn-step-into' class="btn btn-small"><i class="icon-arrow-down"></i> Step Into</button>
            <button	id='btn-step-out' class="btn btn-small"><i class="icon-arrow-up"></i> Step Out</button>
            <button	id='btn-stop' class="btn btn-small"><i class="icon-stop"></i> Stop</button>
            <span class='title'>WEBPDB</span>
        </div>
        <div class='pane-container'>
            <div class='left-pane'>
                <div id='stack'></div>
                <div id='locals'>                    
                    <div class='section-header' data-toggle="collapse" data-target="#locals-list">
                        <i class='icon-circle-arrow-down'></i>
                        <span>LOCALS</span>
                    </div>
                    <ul id='locals-list' class='variable-list in collapse'></ul>
                </div>
                <div id='globals' >                    
                    <div class='section-header' data-toggle="collapse" data-target="#globals-list">
                        <i class='icon-circle-arrow-down'></i>
                        <span>GLOBALS</span>
                    </div>
                    <ul id='globals-list' class='variable-list in collapse'></ul>
                </div>
            </div>
            <div class='right-pane'>
                <div id='source'>
                    <div class='title'></div>
                </div>
                <div id='console'>
                    <div class='title'>Console</div>
                    <ul class='messages'></ul>
                </div>
            </div>
        </div>
		<script src="/static/lib/js/prettify.js"></script>
		<script src="/static/lib/js/jquery.min.js"></script>
		<script src="/static/lib/js/bootstrap.min.js"></script>
		<script src="/static/lib/js/underscore.min.js"></script>
		<script src="/static/lib/js/splitter.js"></script>
		<script src="/static/js/util.js"></script>
		<script src="/static/js/app.js"></script>
		<script src="/static/js/models.js"></script>
		<script src="/static/js/views.js"></script>
        <script type='text/template' class='code-tmpl'>
            <div class='title'>
                <%- filename %>
            </div>
            <div class='content'>
                <div class='code-highlighter'>
                    <i class='icon-chevron-right'></i>
                </div>
                <div class='breakpoints'></div>
                <pre class="prettyprint linenums language-python"><%= content %></pre>
            </div>
        </script>

        <script type='text/template' class='stack-tmpl'>
            <div class='section-header' data-toggle="collapse" data-target="#stack-list">
                <i class='icon-circle-arrow-down'></i>
                <span>STACK</span>
            </div>
            <ul id='stack-list' class='in collapse'>
                <% _.each(stack, function(frame) {%>
                <% if (frame.idx == frame_idx) {%>
                <li class='current-frame'>
                <% } else { %>
                <li>
                <% } %>
                    <span class='function'><%- frame.function %></span>
                    <span class='filename'><%- util.basename(frame.filename) + ':' + frame.lineno %>
                </li>
                <%});%>
            </ul>
        </script>

        <script type='text/template' class='variable-tmpl'>
            <% if (!variable.has_child()) { %>
                <i class='var-collapse-ctrl primitive'></i> 
            <% } else if (variable.expand) { %>
                <i class='var-collapse-ctrl expanded'></i> 
            <% } else { %>
                <i class='var-collapse-ctrl collapsed'></i> 
            <% } %>
            <span class='var-name'><%- variable.name %></span>
            <% if (variable.value() === null) {%>
                <span class='var-type'>(<%- variable.type %>)</span>
            <% } else { %>
            = <span class='var-type'>(<%- variable.type %>)</span>
            <span class='var-value'><%- variable.value() %></span>
            <% } %>
        </script>
	</body>
</html>
