<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Webpdb</title>
		<link rel="stylesheet" href="/static/css/app.css" type="text/css" charset="utf-8">
		<link rel="stylesheet" href="/static/lib/css/prettify.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="/static/lib/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
	</head>
	<body>
        <div id='buttons'>
            <button	id='btn-continue' class="btn btn-small"><i class="icon-play"></i> Continue</button>
            <button	id='btn-step-over' class="btn btn-small"><i class="icon-arrow-right"></i> Step Over</button>
            <button	id='btn-step-into' class="btn btn-small"><i class="icon-arrow-down"></i> Step Into</button>
            <button	id='btn-step-out' class="btn btn-small"><i class="icon-arrow-up"></i> Step Out</button>
            <button	id='btn-stop' class="btn btn-small"><i class="icon-stop"></i> Stop</button>
        </div>
        <div class='pane-container'>
            <div class='left-pane'>
                <div id='stack'></div>
            </div>
            <div class='right-pane'>
                <div id='source'></div>
                <div id='console'></div>
            </div>
        </div>
		<script src="/static/lib/js/prettify.js"></script>
		<script src="/static/lib/js/jquery.min.js"></script>
		<script src="/static/lib/js/bootstrap.min.js"></script>
		<script src="/static/lib/js/underscore.min.js"></script>
		<script src="/static/lib/js/splitter.js"></script>
		<script src="/static/js/util.js"></script>
		<script src="/static/js/app.js"></script>
		<script src="/static/js/models.js"></script>
		<script src="/static/js/views.js"></script>
        <script type='text/template' class='code-tmpl'>
            <div class='code-highlighter'></div>
            <pre class="prettyprint linenums language-python"><%= content %></pre>
        </script>
        <script type='text/template' class='stack-tmpl'>
            <table class='table table-condensed'>
                <thead>
                    <tr>
                        <td>STACK</td>
                    </tr>
                    <tr>
                        <td>filename</td>
                        <td>line</td>
                        <td>function</td>
                        <td>path</td>
                    </tr>
                </thead>
                <tbody>
                    <% _.each(stack, function(frame) {%>
                    <tr>
                        <td><%- util.basename(frame.filename) %></td>
                        <td><%- frame.lineno %></td>
                        <td><%- frame.function %></td>
                        <td><%- util.dirname(frame.filename) %></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </script>
	</body>
</html>
